/* *{
    padding: 5;
    margin: 5;
    font-family: sans-serif;
} */
.header ul li{
    display: inline-block;
    vertical-align: middle;
}

.header ul li img {
    width: 95px;height: 25px;
}
.header {
    background-color: black;
}

.header ul li:nth-child(3){
    padding-left: 4%;
    color: aliceblue;
}
.header ul li:nth-child(6){
    padding-left: 2%;
    color: white;
}
.header ul li:nth-child(7){
    padding-left: 2%;
    color: white;
}
.header ul li:nth-child(8){
    padding-left: 2%;
    color: white;
}
.header ul li:nth-child(9){
    padding-left: 2%;
    color: white;
}
